@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans');
    @page 
    {
        margin: 4cm 3cm 3cm 3.5cm;
        @bottom-left {
        content: string(footer);
        color: grey;
        text-align: left;
        font-size: 8pt;
        } 
        @bottom-right {
        color: grey;
        content: counter(page);
        font-size: 8pt;
        text-align: right;
        } 

        @top-right {
        content: string(heading);
        color: white;
        font-size: 21pt;
        text-align: left;
        width: 100%; 
        }   
        @top-center {
        content: "";
        background: url(header.png) no-repeat center;
        background-size: 100% 100%;
        margin: 0 0;
        height: 210mm;
        width: 250mm;
        }

    }
    @page :first {

            content: "";
            background: url(background-cover.png) no-repeat center;
            background-size: 100% 100%;
            margin: 0 0;
            @top-center {
            background: none; 
            }
            @bottom-left {
            content: none;
            }

    }
  

    html {
      color: #14213d;
      font-family: IBM Plex Sans,sans-serif;
      font-size: 10pt;
      line-height: 1.5;
    }
    html body {
      margin: 0;
    }
    html body h1 {
      break-before: always;
      color: white;
      font-size: 20pt;
      string-set: heading content(); 
      visibility: hidden;
      margin-bottom:-40px;

    }
    html body h6 {
      text-align: left;
      string-set: footer content(); 
      font-size: 7pt;
      font-weight: lighter;
      color: grey;
      visibility: hidden;

    }
    html h2 {
      font-size: 14pt;
      margin-top:-10px;
    }
    html h4 {
      font-size: 7pt;
      margin-top:-3px;
    }
    html h3 {
      font-size: 10pt;
    }
    html h3#grey {
      font-size: 10pt;
      color: grey;
    }

    html dl dt, html dl dd {
      display: inline;
      margin: 0; }


    html table {
      border-collapse:collapse;
      width: 45%;
      font-size: 8pt;
      table-layout: fixed;
    }
    html table td {
      overflow-wrap: break-word;
    }
    html table td.metric_name{
      width:90%;
      font-size: 13pt; 
      font-weight:bold;
      font-family: Arial, Helvetica, sans-serif;
  }
  html table td.metric_desc{
      width:100%;
      font-size: 9pt; 

  }
  html table td.metric_card{
      width:90%;
      font-size: 9pt; 
      font-weight:bold;
      font-family: Arial, Helvetica, sans-serif;
      padding-top: 20px;
  }
  html table#metric_table{
      border-collapse:collapse;
      width: 60%;
      font-size: 8pt;
      table-layout: fixed;
    }

  html td.metric_value{

      overflow-wrap: normal;
      white-space: nowrap;
      width: 40%;
  }
  html table.appendix_desc {
      border-collapse:collapse;
      width: 100%;
      font-size: 10pt;
      table-layout: fixed;
    }

  html table.overview {
  border-collapse:collapse;
  width: 100%;
  font-size: 8pt;
  table-layout: fixed;
  }
  html h3.overview {
      font-weight:bold;
      font-family: Arial, Helvetica, sans-serif;
  }
  html div#cover_page{
      /* background-image: url(background-cover.png); */
      background: rgb(20,25,33);
      background: linear-gradient(90deg, rgba(20,25,33,1) 15%, rgba(0,97,254,1) 65%);
      width: 100%;
      height: 100%;

  }

html body article.cover {
align-content: center;
margin: 0.5cm 3cm 0.5cm 3.5cm;
}
