[build-system]
requires = ["setuptools>=61.0"]
build-backend = "setuptools.build_meta"

[project]
name = "quick-seeders"
version = "0.2.4"
description = "Python package for generating seed data for testing and development"
authors = [{name = "Graham Burleigh", email = "grahamburleigh6@gmail.com"}]
dependencies = ["faker"]

[tool.setuptools.packages.find]
include = ["seeder*"]
exclude = ["exports*"]

[tool.pytest]
testpaths = ["tests"]
