 
.table-theme-blue thead th {
    background-color: #005eaa;
    color: white;
}

.back-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ccc;
    color: #333;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.text-left {
    text-align: left;
}

.icon-blue {
    color: #007bff;
}

.center-content {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.center-content span {
    margin-left: 8px;
}

.text-left {
    text-align: left;
}

.icon-blue {
    color: #007bff;
}

.center-content {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.center-content span {
    margin-left: 8px;
}


 

  .bg-gray-l3 {
    background-color: #d3d3d3;
  }
 