
@import "./scrollbar.css";
:root {
    --white: #fff;
    --black: #000;
    --gray-light: #E1E1E6;

    --success: #00B37E;
    --warning: #EFD349;
    --danger: #FF1A1A;

    --font-family: 'Roboto', sans-serif;

    --box-shadow-focus: 0px 0px 10px #4ECBD3;
    --box-shadow-hover: 0px 1px 6px rgba(0,0,0,.2);

    --transition: all .3s ease;
}
* {
    box-sizing: border-box;
    font-family: var(--font-family);
}
body {
    color: #fff;
    background-color: #1A1823;
    margin: 0;
    padding: 0;
}
.container {
    max-width: 992px;
    height: 100vh;
    margin: auto;
    padding: 32px;
    display: flex;
    flex-direction: column;
}
.user-input-wrap {
    margin-top: auto;
}
