.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
}

h1 {font-size: 30px;}
h2 {font-size: 24px;}
h5 {font-size: 16px;}

.text-small {
    font-size: 14px;
}

a {
    color: var(--secondary);
    text-decoration: none;
    font-weight: 600;
}

a:hover {
    color: var(--secondary);
    text-decoration: underline;
}

.success {
    color: var(--success);
}

.error {
    color: var(--danger);
}



