:root {
  --primary: #844CFF;
  --secondary: #51CBFF;

  --success: #73E137;
  --info: #472D89;
  --warning: #ffc107;
  --danger: #EB5757;
  --cream: #E6F5FA;
  --burgundy: #7e383c;

  --bg-primary: #111821;
  --bg-secondary: #0A0E14;
  --bg-form: #41464E;

  --font-family: 'Open Sans', sans-serif;
  --font-color: #ffffff;
  --font-dark-color: #112131;

  --spacer: 15px;
}